<main>
	<link rel='stylesheet' href='css/evento.css' />
	<h1>Eventos</h1>
	<table border='1' class='tabelaEventos'>
		<tr class='border'>
			<th class='title'>Id</th>
			<th class='title'> Nome do Evento: </th>
			<th class='title'> Data do Evento: </th>
			<th class='title'> Horario do Evento: </th>
			<th class='title'> Acessar Página: </th>
		</tr>
		{{#if eventos}}
			{{#each eventos}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.nomeEvento}}</td>
					<td>{{this.dataEvento}}</td>
					<td>{{this.horaEvento}}</td>
					<td>
						<a href='eventos/{{this.id}}'>{{this.nomeEvento}}</a>
					</td>
				</tr>
			{{/each}}
		{{else}}
			<tr>
				<td colspan='3'>Não ha eventos cadastrados</td>
			</tr>
		{{/if}}
	</table>
</main>